aiohttp
aiosignal
annotated-types
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
cryptography
dataclasses-json
Deprecated
distro
dotenv
emoji
et_xmlfile
exceptiongroup
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
google-genai
gpt4all
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
joblib
jsonpatch
jsonpointer
kubernetes
langchain
langchain-cli
langchain-core
langdetect
langserve
langsmith
lxml
markdown-it-py
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
nltk
numpy
oauthlib
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
pdf2image
pdfminer.six
pikepdf
Pillow
posthog
protobuf
pulsar-client
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pypdf
PyPika
PySocks
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
pytz
PyYAML
# Editable install with no version control (rag-chroma-private)
# -e /Users/samartharora/Documents/projects/local-rag/packages/rag-chroma-private
rapidfuzz
regex
requests
requests-oauthlib
rich
rsa
selenium
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sse-starlette
starlette
sympy
tabulate
tenacity
tiktoken
tokenizers
tomlkit
tqdm
trio
trio-websocket
typer
typing-inspect
typing_extensions
tzdata
unstructured
urllib3
uvicorn
uvloop
watchfiles
websocket-client
websockets
wrapt
wsproto
yarl
zipp
